<div class="panel panel-default">
    <div class="panel-heading">
        
        <h1></h1>
        
        <div class="row panel-heading-flex">
            <div>
                <img src="" alt="" class="img-responsive contactPic">
            </div>
            <div>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger ">Delete</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p><strong>Phone:</strong></p>
        <p><strong>Email:</strong></p>
    </div>
  </div>


