button{
    margin:5px;
}

.contactPic{
    max-height: 175px;
    min-width: 150px;
}

.panelParagraph{
    font-weight: bold;
}

.pannelInfo{
    font-weight: none;
}

.panel-heading-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn-size{
    height: fit-content;
}